/*===========================
    7.FOOTER css 
===========================*/

.footer-area {
  background: $heading-color;
  padding-top: 60px;
  padding-bottom: 50px;
  &.footer-dark {
    background: #233340;
  }
}

.footer-topbar {
  border-bottom: 2px dashed #3a434b;
  padding-bottom: 40px;
}

.footer-logo {
  @media #{$xs} {
    padding-bottom: 30px;
  }
  ul {
    margin: 35px 0 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
      a {
        color: $white;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        background: rgba(255, 255, 255, 0.07);
        display: inline-block;
        &:hover {
          background: $theme-color-2;
        }
      }
    }
  }
}

.footer-newaletter {
  color: rgba(255, 255, 255, 0.4);
  & .input-box {
    position: relative;
    margin-bottom: 10px;
    & input {
      width: 100%;
      border: 0;
      background: $white;
      height: 50px;
      padding-left: 20px;
      color: rgba(23, 34, 43, 0.5);
      &::placeholder {
        opacity: 1;
        color: rgba(23, 34, 43, 0.5);
      }
    }
    & button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 110px;
      background: $theme-color-2;
      color: $white;
      font-weight: 400;
      border: 0;
    }
  }
  & p {
    margin-bottom: 0;
  }
}

.footer-widget-area {
  & .widget {
    @media #{$xs} {
      margin-bottom: 30px;
    }
    .section-title {
      margin-bottom: 25px;
    }
  }
  & .footer-widget-right-border {
    border-right: 2px dashed #3a434b;
    margin-top: 60px;
    @media #{$md} {
      border-right: 0;
    }
    @media #{$xs} {
      border-right: 0;
    }
  }
}

.widget-list {
  border-right: 2px dashed #3a434b;
  padding-right: 60px;
  @media #{$lg} {
    padding-right: 30px;
  }
  @media #{$xs} {
    padding-right: 20px;
    border-right: 0;
  }
  @media #{$sm} {
    padding-right: 100px;
    border-right: 0;
  }
  & .list {
    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      & li {
        padding-bottom: 15px;
        & a {
          color: $white;
          font-size: 16px;
          &:hover {
            color: $theme-color-2;
          }
        }
      }
    }
  }
  &.widget-list-2 {
    border-right: 0;
  }
}

.wedget-service {
  border-top: 2px dashed #3a434b;
  margin-top: 40px;
  padding-top: 32px;
  & .service-item {
    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      & li {
        & a {
          color: $white;
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 15px;
          display: inline-block;
          &:hover {
            color: $theme-color-2;
          }
          & i {
            font-size: 18px;
            padding-right: 16px;
          }
        }
      }
    }
  }
}

.footer-twitter-post {
  border-top: 2px dashed #3a434b;
  padding-top: 40px;
  margin-top: 40px;
  margin-right: 30px;
  & .twitter-post {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border-bottom: 2px dashed #3a434b;
    padding-bottom: 24px;
    margin-bottom: 25px;
    & .icon {
      margin-right: 15px;
      & i {
        color: #1091ff;
      }
    }
    & .twitter-content {
      & p {
        color: $white;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 5px;
        @media #{$md} {
          font-size: 15px;
        }
        @media #{$xs} {
          font-size: 13px;
        }
        @media #{$sm} {
          font-size: 15px;
        }
        & a {
          color: #1091ff;
        }
      }
      & span {
        color: rgba(255, 255, 255, 0.5);
      }
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

.footer-copyright {
  background: #232d36;
  & .copyright-item {
    padding: 37px 0;
    @media #{$xs} {
      text-align: center;
    }
    & p {
      font-size: 16px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.4);
      margin-bottom: 0;
      @media #{$xs} {
        margin-bottom: 10px;
      }
    }
    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      & li {
        display: inline-block;
        & a {
          font-size: 14px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.4);
          margin-left: 35px;
          @media #{$md} {
            margin-left: 20px;
          }
          @media #{$xs} {
            margin: 0px 10px 0;
          }
          &:hover {
            color: $theme-color-2;
          }
        }
      }
    }
  }
  &.footer-copyright-style-2 {
    background: #f2f6f8;
    & .copyright-item {
      & p {
        color: rgba(23, 34, 43, 0.4);
      }
      ul {
        & li {
          & a {
            color: rgba(23, 34, 43, 0.4);
            &:hover {
              color: $theme-color-2;
            }
          }
        }
      }
    }
    &.footer-copyright-style-3 {
      & .copyright-item {
        & ul {
          & li {
            & a {
              &:hover {
                color: $theme-color;
              }
            }
          }
        }
      }
    }
  }
  &.footer-copyright-dark {
    background: #2e3d4a;
  }
}

/*===== Go Top =====*/

.go-top-area {
  position: relative;
  z-index: 999;

  & .go-top {
    position: fixed;
    cursor: pointer;
    top: 0;
    right: 24px;
    color: #ffffff;
    background-color: $theme-color;
    z-index: 9999;
    width: 40px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    opacity: 0;
    visibility: hidden;
    @include transition(0.9s);
    border-right: 0;

    & i {
      position: absolute;
      top: 50%;
      left: -4px;
      right: 0;
      margin: 0 auto;
      font-size: 15px;
      @include transform(translateY(-50%));
      @include transition(0.5s);

      &:last-child {
        opacity: 0;
        visibility: hidden;
        top: 60%;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: $theme-color;
      opacity: 0;
      visibility: hidden;
      @include transition(0.5s);
    }

    &:focus,
    &:hover {
      color: $white;

      &::before {
        opacity: 1;
        visibility: visible;
      }

      & i {
        &:first-child {
          opacity: 0;
          top: 0;
          visibility: hidden;
        }
        &:last-child {
          opacity: 1;
          visibility: visible;
          top: 50%;
        }
      }
    }

    &.active {
      top: 98%;
      @include transform(translateY(-98%));
      opacity: 1;
      visibility: visible;
      border-radius: 0;
      right: 20px;
      @media #{$lg} {
        top: 93%;
      }
      @media #{$md} {
        top: 93%;
      }
    }
  }
}

.go-top-wrap {
  position: relative;

  & .go-top-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $white;
    top: 3px;
    z-index: 1;
    background: $theme-color;

    & i {
      font-size: 20px;
      font-weight: 700;
      padding-left: 4px;
      color: $white;
    }

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      height: 40px;
      @include animation(ripple 1.6s ease-out infinite);
      opacity: 0;
      background: $theme-color;
    }

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

@keyframes ripple {
  0%,
  35% {
    @include transform(scale(0));
    opacity: 1;
  }
  50% {
    @include transform(scale(1.5));
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    @include transform(scale(2));
  }
}

@-webkit-keyframes ripple {
  0%,
  35% {
    @include transform(scale(0));
    opacity: 1;
  }
  50% {
    @include transform(scale(1.5));
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    @include transform(scale(2));
  }
}

//footer style 2 //

.footer-style-2-area {
  background: $white;
  padding-top: 60px;
  padding-bottom: 50px;
  &.footer-style-3-area {
    & .footer-top-info {
      & .footer-info-item {
        & .title {
          &::before {
            background: linear-gradient(
              90deg,
              rgba(255, 85, 85, 1) 0%,
              rgba(171, 80, 239, 1) 100%
            );
          }
        }
      }
    }
    & .widget-services {
      & .service-item {
        & ul {
          & li {
            & a {
              & i {
                color: $theme-color;
              }
              &:hover {
                color: $theme-color;
              }
            }
          }
        }
      }
    }
    & .more-news-items {
      & .more-news-item {
        & .meta-categories {
          &::before {
            background: linear-gradient(
              90deg,
              rgba(255, 85, 85, 1) 0%,
              rgba(171, 80, 239, 1) 100%
            );
          }
          & span {
            color: $theme-color;
          }
        }
        & .title {
          & a {
            &:hover {
              color: $theme-color;
            }
          }
        }
        & ul {
          & li {
            & a {
              & i {
                color: $theme-color;
              }
            }
          }
        }
      }
    }
    & .footer-download-store {
      & .text {
        position: relative;
        padding-left: 26px;
        &::before {
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 66px;
          width: 5px;
          background: linear-gradient(
            180deg,
            rgba(255, 85, 85, 1) 0%,
            rgba(171, 80, 239, 1) 100%
          );
        }
      }
      & .store-btn {
        & ul {
          & li {
            & a {
              border: 0;
              background: linear-gradient(
                90deg,
                rgba(255, 85, 85, 0.1) 0%,
                rgba(171, 80, 239, 0.1) 100%
              );
              & i {
                color: $theme-color;
              }
            }
          }
        }
      }
    }
  }
}

.widget-about {
  font-size: 17px;
  line-height: 27px;
  padding-right: 10px;
  color: rgba(23, 34, 43, 0.85);
  @media #{$lg} {
    font-size: 15px;
  }
  @media #{$xs} {
    text-align: center;
  }
  & p {
    padding-top: 36px;
    & span {
      font-weight: 700;
    }
  }
}

.widget-services {
  @media #{$xs} {
    text-align: center;
  }
  & .section-title {
    display: inline-block;
  }
  & .service-item {
    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      & li {
        & a {
          color: $heading-color;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 15px;
          display: inline-block;
          &:hover {
            color: $theme-color-2;
          }
          & i {
            font-size: 18px;
            width: 30px;
            display: inline-block;
          }
        }
      }
    }
  }
}

.widget-news-categories {
  border-top: 2px dashed #f0f0f1;
  padding-top: 38px;
  margin-top: 30px;
  @media #{$xs} {
    text-align: center;
  }
  & .section-title {
    display: inline-block;
  }
  & .categories-list {
    padding-top: 5px;
    @media #{$xs} {
      justify-content: center;
    }

    & ul {
      margin: 0 90px 0 0;
      padding: 0;
      list-style-type: none;
      @media #{$lg} {
        margin-right: 40px;
      }
      & li {
        & a {
          font-size: 16px;
          font-size: 16px;
          font-weight: 400;
          padding-bottom: 15px;
          display: inline-block;
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.widget-twitter {
  border-top: 2px dashed #dcdedf;
  padding-top: 38px;
  margin-top: 30px;
  & .twitter-post {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border-bottom: 2px dashed #dcdedf;
    padding-bottom: 24px;
    margin-bottom: 25px;
    & .icon {
      margin-right: 15px;
      & i {
        color: #1091ff;
      }
    }
    & .twitter-content {
      & p {
        color: $heading-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 5px;
        @media #{$md} {
          font-size: 15px;
        }
        @media #{$xs} {
          font-size: 13px;
        }
        @media #{$sm} {
          font-size: 15px;
        }
        & a {
          color: #1091ff;
        }
      }
      & span {
        color: rgba(23, 34, 43, 0.5);
        font-size: 14px;
        font-weight: 400;
      }
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

.footer-top-info {
  border-bottom: 2px dashed #dcdedf;
  padding-bottom: 36px;
  @media #{$md} {
    margin-top: 50px;
  }
  & .footer-info-item {
    @media #{$xs} {
      text-align: center;
      margin-bottom: 20px;
    }
    & .title {
      font-size: 18px;
      font-weight: 400;
      color: rgba(23, 34, 43, 0.75);
      padding-left: 18px;
      position: relative;
      margin-bottom: 20px;
      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 6px;
        width: 6px;
        background: #4cacff;
        @media #{$xs} {
          display: none;
        }
      }
    }
    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      & li {
        & a {
          font-size: 15px;
          font-weight: 500;
          color: $heading-color;
          @media #{$lg} {
            font-size: 14px;
          }
        }
      }
    }
  }
}

.more-news-items {
  border-left: 1px solid #e7e8e9;
  padding-left: 16px;
  @media #{$xs} {
    margin-bottom: 30px;
  }
  & .more-news-item {
    border-bottom: 2px dashed #dcdedf;
    padding-bottom: 12px;
    margin-bottom: 12px;
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    & .meta-categories {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        left: -19px;
        top: 50%;
        transform: translateY(-50%);
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: $theme-color-2;
      }
      & span {
        font-size: 12px;
        font-weight: 500;
        color: $theme-color-2;
      }
    }
    & .title {
      font-size: 18px;
      line-height: 22px;
      padding-top: 13px;
      margin-bottom: 8px;
    }
    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      & li {
        display: inline-block;

        & a {
          padding-right: 12px;
          margin-right: 12px;
          position: relative;
          font-size: 12px;
          font-weight: 500;
          color: rgba(23, 34, 43, 0.6);

          &::before {
            position: absolute;
            content: '';
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 11px;
            background: #b9bcbf;
          }

          & i {
            color: #70bdff;
            padding-right: 6px;
          }
        }

        &:last-child {
          & a {
            padding-right: 0;
            margin-right: 0;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

.widet-newsletter {
  & .post-newsletter {
    background: #f2f6f8;
    & .input-box {
      & input {
        background: #fff;
      }
    }
  }
}

.widget-social {
  & .post-contact {
    padding: 0;

    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: space-between;

      @media #{$md} {
        justify-content: flex-start;
      }

      @media #{$xs} {
        justify-content: flex-start;
      }

      & li {
        display: inline-block;

        & a {
          display: inline-block;
          background: #3b5998;
          width: 120px;
          height: 50px;
          position: relative;
          padding-left: 40px;
          padding-top: 4px;
          margin-bottom: 10px;
          border-radius: 5px;
          overflow: hidden;

          @media #{$laptop} {
            width: 105px;
          }

          @media #{$lg} {
            width: 92px;
          }

          @media #{$md} {
            margin-right: 10px;
            width: 100px;
          }

          @media #{$xs} {
            margin-right: 10px;
            width: 100px;
          }

          @media #{$sm} {
            width: 110px;
          }

          &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            height: 100%;
            width: 35px;
            background: #334d82;
          }

          & i {
            position: absolute;
            list-style-type: 0;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
            color: $white;
          }

          span {
            font-size: 15px;
            font-weight: 500;
            color: $white;
            line-height: 15px;
          }

          p {
            font-size: 11px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.85);
            text-transform: capitalize;
            margin-bottom: 0;
            line-height: 15px;
          }

          &.item-2 {
            background: #1da1f2;

            &::before {
              background: #1b87ca;
            }
          }

          &.item-3 {
            background: #ff5050;

            &::before {
              background: #d04648;
            }
          }

          &.item-4 {
            background: #9b45d5;

            &::before {
              background: #803db3;
            }
          }

          &.item-5 {
            background: #1ab7ea;

            &::before {
              background: #1999c3;
            }
          }

          &.item-6 {
            background: #00ab6c;

            &::before {
              background: #048f5e;
            }
          }
        }
      }
    }
  }
}

.footer-download-store {
  border-top: 2px dashed #e7e8e9;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  .text {
    .title {
      font-size: 24px;
      margin-bottom: 0;
      @media #{$lg} {
        font-size: 20px;
      }
    }
    span {
      font-size: 17px;
      line-height: 27px;
    }
  }
  .store-btn {
    @media #{$lg} {
      text-align: right;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: inline-block;
        a {
          background: #f2f6f8;
          position: relative;
          display: inline-block;
          height: 65px;
          width: 185px;
          border: 1px solid rgba(23, 34, 43, 0.75);
          border-radius: 5px;
          padding-left: 54px;
          padding-top: 8px;
          margin-left: 9px;
          text-align: left;
          @media #{$lg} {
            margin: 5px 0;
          }
          @media #{$md} {
            width: 170px;
          }
          @media #{$xs} {
            margin-left: 0;
            margin-right: 10px;
            margin-top: 15px;
          }
          i {
            position: absolute;
            left: 18px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 26px;
            color: $theme-color-2;
          }
          p {
            margin-bottom: 0;
            font-size: 12px;
            font-weight: 400;
            color: rgba(23, 34, 43, 0.75);
            margin-bottom: -4px;
          }
          span {
            font-size: 15px;
            font-weight: 400;
            color: $heading-color;
          }
        }
      }
    }
  }
}
