// Font Family
$heebo: 'Heebo', sans-serif;


// Colors ---------------

$white: #fff;

$black: #222;

$grey:#F3F3F4;

$theme-color: #FF5555;

$theme-color-2: #1091FF;

$text-color: #515A60;

$hr-border-color:#eceff8;


// Heading Color
$heading-color: #17222B;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$desktop: 'only screen and (min-width: 1600px)';
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';


